[{ranch,[]},
 {logger,
     [{discard_threshold,500},
      {translator_inspect_opts,[]},
      {handle_sasl_reports,false},
      {translators,[{'Elixir.Logger.Translator',translate}]},
      {backends,[console]},
      {level,debug},
      {discard_threshold_periodic_check,30000},
      {sync_threshold,20},
      {utc_log,false},
      {compile_time_purge_level,debug},
      {handle_otp_reports,true},
      {compile_time_purge_matching,[]},
      {truncate,8096},
      {console,[]},
      {compile_time_application,nil},
      {discard_threshold_for_error_logger,500}]},
 {gen_state_machine,[]},
 {compiler,[]},
 {poison,[]},
 {distillery,[{config_providers,[]}]},
 {sasl,[{sasl_error_logger,false},{errlog_type,error}]},
 {grpc,[{start_server,true}]},
 {saga,
     [{grpc_port,<<"50051">>},
      {ssl_cert,<<"./ssl/server.crt">>},
      {ssl_key,<<"./ssl/server.pem">>},
      {grpc_host,<<"localhost">>}]},
 {mix,[{colors,[]}]},
 {gun,[]},
 {elixir,
     [{ansi_enabled,false},
      {check_endianness,true},
      {time_zone_database,'Elixir.Calendar.UTCOnlyTimeZoneDatabase'}]},
 {kernel,
     [{logger_level,notice},
      {logger,
          [{handler,default,logger_std_h,
               #{config => #{type => standard_io},
                 formatter =>
                     {logger_formatter,
                         #{legacy_header => true,single_line => false}}}}]},
      {logger_sasl_compatible,false}]},
 {cowlib,[]},
 {kafka_ex,
     [{consumer_group,<<"kafka_ex">>},
      {max_restarts,10},
      {commit_interval,5000},
      {commit_threshold,100},
      {kafka_version,<<"0.10.1">>},
      {disable_default_worker,false},
      {brokers,[{<<"10.50.0.1">>,9092}]},
      {use_ssl,false},
      {sync_timeout,3000},
      {max_seconds,60}]},
 {runtime_tools,[]},
 {ssl,[]},
 {stdlib,[]},
 {iex,
     [{alive_prompt,<<"%prefix(%node)%counter>">>},
      {history_size,20},
      {colors,[]},
      {inspect,[{pretty,true}]},
      {default_prompt,<<"%prefix(%counter)>">>}]},
 {artificery,[]},
 {crypto,[{fips_mode,false},{rand_cache_size,896}]},
 {cowboy,[]},
 {asn1,[]},
 {protobuf,[]},
 {public_key,[]}].
